@charset "UTF-8";
.box_margin{
  margin: 0 auto;
}

.q3_fixed_box1{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #eee;
}

.smooth{
  display: inline-block;
}

.square_big{
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  position: relative;
  margin: 0 auto;
}

.square_small {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.center_1 {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
  z-index: 1;
}

.center_5 {
  bottom: 40px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 45;
}

.boxout_2 {
  top: 120px;
  right: 120px;
  background-color: #7084de ;
  z-index: 12;
}

.boxout_3 {
  top: 200px;
  right: 40px;    /* 250px -210px */
  background-color: #d0ecea;
  z-index: 23;
}
.boxout_4 {
  top: 280px;/* 220(2番endまで)+ 60(100-40) */
  right: 120px;
  background-color: #8b7a5e;
  z-index: 34;
}

.boxout_6 {
  top: 280px;
  left: 120px;
  background-color: #fffee4  ;
  z-index: 56;
}

.boxout_7 {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 67;
}

.boxout_8 {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 78;
}

.boxout_8::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color:  #ffefd3;
  position: absolute;
  top: 0;
  right: 0;
}
/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */