@charset "UTF-8";
/* 共通パーツ */
.flex {
  display: flex;
}

.common-img_size {
  width: 300px;
  height: 200px;
}

.img_right {
  margin-left: 50px;  
}

.img-right:first-child {
  margin-left: 0;
}

/* 終了 */

/* ６−１ */
.hover {
  overflow: hidden;
}

.img-hover {
  width: 100%;
  height: 100%;
}

.img_left_hover:hover {  
  transform: scale(1.4);
  transition-duration: 0.5s;
}

/* ６−1 right */
.img_right {
  position: relative;
  overflow: hidden;
}

.q6_text-wrap {
  width:			100%;
	height:			200px;
	position:		absolute;
	bottom:			-200px;	/* 枠の上に置いて表示しない */
	left:			0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	transition:		all 0.4s ease;
  overflow: hidden;
}

.q6_text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  box-sizing: border-box; 
  word-break: break-all; 
}

/* Hover */
.img_right:hover .q6_text-wrap {
  bottom:		0px;	/* 下に降りてくるように見せる */
  left: 0;
}

/* 6-2 */
.fv-wrap {
  width: 960px;
  height: 540px;
  padding: 80px 0;
}

.fv_text {
  height: 100%;
  font-size: 200px;
  display: inline-block;
}

.animantion {
  animation: loop 10s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */