@charset "UTF-8";

/* 1章 */
.text_parents {
  text-align: center;
}

.com_textalign{
  text-align: center;
}

.text-inlineblock {
  display: inline-block;
  /* display: inline-block; */
}

.margin {
  margin: 0 auto;
}

/* ２章 */
.table {
  display: table;
}

.q4_blue_parents {
  display: table-cell; 
  /* table-cellはテーブルの1つのデータ→cellの親要素 */
  vertical-align: middle;
  /* vertical-alignを使うために、上記でtable-cellを使う */
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_child {
  display: inline-block;
}

/* ３章 */
.striced_parents {
    position: relative;
}

.striced {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
}

.transform_parents {
  position: relative;
  text-align: center;
}

.transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */

/* Q4inner contentsは使わない。 */