@charset "UTF-8";
/*5-○ 共通項 */
.common-feature {
  display: block;
  width: 400px;
  margin-left:  60px;
}

.common-feature:first-child {
  margin-left: 0;
}

/* Float */
.q5_left {
  display: block;
  float: left;
}

/* Table */
.q5_table {
  display: table;
}

.q5_table-cell {
  display: table-cell;
}

/* inline-block */
.inline-block_parents {
  font-size: 0;
}

.inline-block {
  display: inline-block;
}

.q5_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Calc */
.flex_calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc_width {
  width: calc((100% -50px) /3) ;
  margin-left: 25px;
}
.calc_width:first-child {
  margin-left: 0;
}

/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */