@charset "UTF-8";
/*5-○ 共通項 */
.common-feature {
  display: block;
  width: 400px;
}

.common-margin {
  margin-left:  60px;
}

/* Float */
.q5_left {
  display: block;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* Table */
.q5_table {
  display: table;
}

.q5_table-cell {
  display: table-cell;
}

/* inline-block */
.inline-block{
  display: inline-block;
  width: 45%;
}

.q5_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Calc */
.flex_calc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc_width{
  width: calc((100% -50px) /3) ;
}
.calc_width:nth-child(n+2){
    margin-left: 25px;
}

/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */