@charset "UTF-8";
.layout_main_section_contents {
  width: 980px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 0 auto;
}
.text_stmt_wrap{

}
.text_stmt_inner{
  width: 260px;
  border: 10px solid #000;
  box-sizing: border-box;
  background-color: #eaf4ff;
}
.clearfix::after{
  display: block;
    content: "";
    clear: both;
}

.text_stmt {
  float: left;
  padding: 20px;
  width: 300px;
  background-color: #3274ae;
  box-sizing: border-box;
}
.text_stmt:nth-child(2){
  margin: 0px 30px;
}

/* 
p:nth-of-type(1){
  float: left;
}
p:nth-child(2){
  float: none;
}

p:nth-child(3){
  float: right;
} */

.box-inner {
  width: 260px;
  margin: 20px;
  border: 10px solid #022336;
}

.cmn-box {
  background-color: #3274ae;
  padding: 20px;
}
.cmn-box:nth-of-type(2) {
  margin: 0 30px;
}

p {
  padding: 20px;
}
/* q1が終わったら
q2のcssはq2フォルダの中のcssファイルに記述してください */